<!-- <ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table" style=" overflow: scroll;overflow-x: scroll;overflow-y:hidden">
      <div class="cart-product ">
        <table class="table  table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Product Name</th>
              <th>Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody  style="height: 10px !important; overflow: scroll; ">
            <tr *ngFor="let product of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ product.title }}</td>
              <td>
                <img style="width: 100px" src="{{ product.image }}" alt="" />
              </td>
              <td style="width: 25%">{{ product.description }}</td>
              <th style="width: 12%">{{ product.price }}</th>
              <td style="width: 12%">
                <button
                  class="btn"
                  style="
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    border: none;
                    background-color: #e7e7e7;
                    color: black;
                  "
                  (click)="setQuantity('-',product)"
                >
                  -</button
                > {{ product.quantity }}
                <button
                  class="btn"
                  style="
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    border: none;
                    background-color: #e7e7e7;
                    color: black;
                  "
                  (click)="setQuantity('+',product)"
                >
                  +
                </button>
              </td>
              <td style="width: 12%">{{ getTotalRoundOf(product.total) }}</td>
              <td>
                <button (click)="removeproduct(product)" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td colspan="1">
                <button (click)="emptycart()" class="btn btn-danger">
                  Empty Cart
                </button>
              </td>
              <td colspan="2">
                <button routerLink="/products" class="btn btn-primary">
                  Shop More
                </button>
              </td>
              <td colspan="2">
                <strong>Grand Total : {{ grandTotal }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <h4>Your cart is empty!</h4>
      <h6>Add product to it now</h6>
      <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container> -->
<ng-container *ngIf="products.length != 0">
  <div class="container" style="margin-bottom: 100px;">
  <ng-container *ngFor="let product of products; let i = index">
    <div class="card m-4">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ product.image }}"
            style="width: 300px; height: 300px"
            class="img-fluid rounded-start"
            alt=""
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.category }}</p>
            <p class="card-text">
              <small class="text-muted">{{ product.description }}</small>
            </p>
            <p class="card-text">
              <strong>Price:</strong> ${{ product.price }}
            </p>
            <p class="card-text">
              <button
                class="btn"
                style="
                  text-decoration: none;
                  display: inline-block;
                  cursor: pointer;
                  border: none;
                  background-color: #e7e7e7;
                  color: black;
                "
                (click)="setQuantity('-', product)"
              >
                -
              </button>
              {{ product.quantity }}
              <button
                class="btn"
                style="
                  text-decoration: none;
                  display: inline-block;
                  cursor: pointer;
                  border: none;
                  background-color: #e7e7e7;
                  color: black;
                "
                (click)="setQuantity('+', product)"
              >
                +
              </button>
            </p>
            <p  class="card-text"><strong>Total:</strong> ${{ getTotalRoundOf(product.total) }}
            <button (click)="removeItem(product)" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
    <div class="container" style="position: fixed;bottom: 0;width: 100%;">
          <table class="table table-sm" style="background-color: #ffffff;margin-bottom: 0;">
            <tbody style="height: 10px !important; overflow: scroll; ">
              <tr>
                <td>
                  <button (click)="emptycart()" class="btn btn-danger">
                    Empty Cart
                  </button>
                </td>
                <td>
                  <button routerLink="/products" class="btn btn-primary">
                    Shop More
                  </button>
                </td>
                <td>
                  <strong>Grand Total : {{ grandTotal }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</ng-container>
<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card p-5">
      <h5 class="card-title">My Cart</h5>
    <div class="card-text">
      <h4>Your cart is empty!</h4>
      <h6>Add product to it now</h6>
      <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
  </div>
</ng-container>
