<ng-container *ngIf="products.length != 0">
  <div class="container" style="margin-bottom: 100px">
    <ng-container *ngFor="let product of products; let i = index">
      <div class="container">
        <div class="card m-2">
          <div class="row g-0">
            <div class="col-md-3 d-flex justify-content-center">
              <img
                src="{{ product.image }}"
                style="width: 200px; height: 200px"
                class="img-fluid rounded-start"
                alt=""
              />
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">
                  {{ product.title }} ( {{ product.category }} )
                </h5>
                <p class="card-text">
                  <small class="text-muted">{{ product.description }}</small>
                </p>
                <p class="card-text">
                  Price: <b>${{ product.price }}</b>
                </p>
                <div class="rating-box">
                  <ngb-rating
                    [(rate)]="product.rating.rate"
                    class="rating"
                  ></ngb-rating>
                  <pre
                    style="margin: 0; justify-content: center"
                  > (<b>{{ product.rating.count }}</b>)</pre>
                </div>
                <hr />
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <p class="card-text me-md-2">
                    <button
                      class="btn btn-sm btn-outline-light"
                      style="
                        text-decoration: none;
                        display: inline-block;
                        cursor: pointer;
                        border: none;
                        background-color: #e7e7e7;
                        color: black;
                      "
                      (click)="setQuantity('-', product)"
                    >
                      -
                    </button>
                    {{ product.quantity }}
                    <button
                      class="btn btn-sm btn-outline-light"
                      style="
                        text-decoration: none;
                        display: inline-block;
                        cursor: pointer;
                        border: none;
                        background-color: #e7e7e7;
                        color: black;
                      "
                      (click)="setQuantity('+', product)"
                    >
                      +
                    </button>
                  </p>
                  <p class="card-text">
                    <strong>Total:</strong> ${{ getTotalRoundOf(product.total) }}
                    <button (click)="removeItem(product)" class="btn btn-sm btn-danger">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="container" style="position: fixed; bottom: 0; width: 100%">
    <table
      class="table table-sm"
      style="background-color: #ffffff; margin-bottom: 0"
    >
      <tbody style="height: 10px !important; overflow: scroll">
        <tr>
          <td>
            <button (click)="emptycart()" class="btn btn-danger">
              Empty Cart
            </button>
          </td>
          <td>
            <button routerLink="/products" class="btn btn-primary">
              Shop More
            </button>
          </td>
          <td>
            <strong>Grand Total : {{ grandTotal }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card p-5">
      <h5 class="card-title">My Cart</h5>
      <div class="card-text">
        <h4>Your cart is empty!</h4>
        <h6>Add product to it now</h6>
        <button routerLink="/products" class="btn btn-primary">Shop Now</button>
      </div>
    </div>
  </div>
</ng-container>
